body {
    background-color: rgb(173, 215, 230);
  }
h6{
    font-size: 20px;
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#borderimg { 
    border: 30px solid transparent; 
    color: black;
    padding: 15px;
    border: 5px solid #555;
  }
  #judul{
    text-align: center;
  }
  td {
    text-align: center;
  }
  li{
    text-align: left;
  }